{% extends 'standard/base.html' %}
{% load static %}
{% block title %}TrackMyDollars | Settings{% endblock %}
{% block script %}<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>{% endblock %}
{% block page_heading %}Settings{% endblock %}
{% block main_content %}
  <script>
      $(document).ready(function(){
          $(".success").fadeOut(10000);
      });
  </script>
  <form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
  </form>
{% endblock %}
