{% extends 'budgets/base.html' %}
{% load static %}
{% block title %}TrackMyDollars | Schedule{% endblock %}
{% block script %}<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>{%  endblock %}
{% block content %}
  <script>
      $(document).ready(function(){
          $(".success").fadeOut(10000);
      });
  </script>
  <h2>Money Schedule</h2>
  <div class="button-container">
    <button onclick="window.location.href = 'add-schedule-item';">Add Schedule Item</button>
  </div>
  {% if messages %}
    {% for message in messages %}
      <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
  {% endif %}
  <br>
  <div id="net-worth-container">
    <table class="asset-debt-table">
      <tr>
        <td>Yearly Total</td>
        <td>${{ totals.entire_total }}</td>
      </tr>
      <tr>
        <td>Non Monthly Total</td>
        <td>${{ totals.non_monthly_total }}</td>
      </tr>
      <tr>
        <td>Monthly Expenses</td>
        <td>${{ totals.monthly_non_monthly_total }}</td>
      </tr>
    </table>
  </div>
  {% if weekly %}
    <br>
    <h3>Weekly</h3>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Start Date</th>
        <th>Next Due Date</th>
        <th>Actions</th>
      </tr>
      </thead>
      {% for item in weekly %}
        <tr>
          <td><a href="">{{ item.name }}</a></td>
          <td><a href="">{{ item.amount }}</a></td>
          <td><a href="">{{ item.first_due_date }}</a></td>
          <td><a href="">{{ item.get_next_payment }}</a></td>
          <td>
            <a href="schedule-item/{{ item.id }}/update"><img src="{% static 'images/edit-icon.png' %}" class="action-imgs"></a>
            <a href="schedule-item/{{ item.id }}/delete"><img src="{% static 'images/garbage-can-icon.png' %}" class="action-imgs"></a>
          </td>
        </tr>
      {% endfor %}
    </table>
    <p>Yearly Total: ${{ totals.weekly_total }}</p>
  {% endif %}

  {% if every_two_weeks %}
    <br>
    <h3>Every Two Weeks</h3>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Start Date</th>
        <th>Next Due Date</th>
        <th>Actions</th>
      </tr>
      </thead>
      {% for item in every_two_weeks %}
        <tr>
          <td><a href="">{{ item.name }}</a></td>
          <td><a href="">{{ item.amount }}</a></td>
          <td><a href="">{{ item.first_due_date }}</a></td>

          <td><a href="">{{ item.get_next_payment }}</a></td>
          <td>
            <a href="schedule-item/{{ item.id }}/update"><img src="{% static 'images/edit-icon.png' %}" class="action-imgs"></a>
            <a href="schedule-item/{{ item.id }}/delete"><img src="{% static 'images/garbage-can-icon.png' %}" class="action-imgs"></a>
          </td>
        </tr>
      {% endfor %}
    </table>
    <p>Yearly Total: ${{ totals.every_two_weeks_total }}</p>
  {% endif %}

  {% if monthly %}
    <br>
    <h3>Monthly</h3>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Start Date</th>
        <th>Next Due Date</th>
        <th>Actions</th>
      </tr>
      </thead>
      {% for item in monthly %}
        <tr>
          <td><a href="">{{ item.name }}</a></td>
          <td><a href="">{{ item.amount }}</a></td>
          <td><a href="">{{ item.first_due_date }}</a></td>
          <td><a href="">{{ item.get_next_payment }}</a></td>
          <td>
            <a href="schedule-item/{{ item.id }}/update"><img src="{% static 'images/edit-icon.png' %}" class="action-imgs"></a>
            <a href="schedule-item/{{ item.id }}/delete"><img src="{% static 'images/garbage-can-icon.png' %}" class="action-imgs"></a>
          </td>
        </tr>
      {% endfor %}
    </table>
    <p>Yearly Total: ${{ totals.monthly_total }}</p>
  {% endif %}

  {% if every_two_months %}
    <br>
  <h3>Every Two Months</h3>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Start Date</th>
      <th>Next Due Date</th>
      <th>Actions</th>
    </tr>
    </thead>
    {% for item in every_two_months %}
      <tr>
        <td><a href="">{{ item.name }}</a></td>
        <td><a href="">{{ item.amount }}</a></td>
        <td><a href="">{{ item.first_due_date }}</a></td>
        <td><a href="">{{ item.get_next_payment }}</a></td>
        <td>
          <a href="schedule-item/{{ item.id }}/update"><img src="{% static 'images/edit-icon.png' %}" class="action-imgs"></a>
          <a href="schedule-item/{{ item.id }}/delete"><img src="{% static 'images/garbage-can-icon.png' %}" class="action-imgs"></a>
        </td>
      </tr>
    {% endfor %}
  </table>
  <p>Yearly Total: ${{ totals.every_two_months_total }}</p>
  {% endif %}

  {% if quarterly %}
    <br>
    <h3>Quarterly</h3>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Start Date</th>
        <th>Next Due Date</th>
        <th>Actions</th>
      </tr>
      </thead>
      {% for item in quarterly %}
        <tr>
          <td><a href="">{{ item.name }}</a></td>
          <td><a href="">{{ item.amount }}</a></td>
          <td><a href="">{{ item.first_due_date }}</a></td>
          <td><a href="">{{ item.get_next_payment }}</a></td>
          <td>
            <a href="schedule-item/{{ item.id }}/update"><img src="{% static 'images/edit-icon.png' %}" class="action-imgs"></a>
            <a href="schedule-item/{{ item.id }}/delete"><img src="{% static 'images/garbage-can-icon.png' %}" class="action-imgs"></a>
          </td>
        </tr>
      {% endfor %}
    </table>
    <p>Yearly Total: ${{ totals.quarterly_total }}</p>
  {% endif %}

  {% if every_six_months %}
    <br>
    <h3>Every Six Months</h3>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Start Date</th>
        <th>Next Due Date</th>
        <th>Actions</th>
      </tr>
      </thead>
      {% for item in every_six_months %}
        <tr>
          <td><a href="">{{ item.name }}</a></td>
          <td><a href="">{{ item.amount }}</a></td>
          <td><a href="">{{ item.first_due_date }}</a></td>
          <td><a href="">{{ item.get_next_payment }}</a></td>
          <td>
            <a href="schedule-item/{{ item.id }}/update"><img src="{% static 'images/edit-icon.png' %}" class="action-imgs"></a>
            <a href="schedule-item/{{ item.id }}/delete"><img src="{% static 'images/garbage-can-icon.png' %}" class="action-imgs"></a>
          </td>
        </tr>
      {% endfor %}
    </table>
    <p>Yearly Total: ${{ totals.every_six_months_total }}</p>
  {% endif %}

  {% if yearly %}
    <br>
    <h3>Yearly</h3>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Start Date</th>
        <th>Next Due Date</th>
        <th>Actions</th>
      </tr>
      </thead>
      {% for item in yearly %}
        <tr>
          <td><a href="">{{ item.name }}</a></td>
          <td><a href="">{{ item.amount }}</a></td>
          <td><a href="">{{ item.first_due_date }}</a></td>
          <td><a href="">{{ item.get_next_payment }}</a></td>
          <td>
            <a href="schedule-item/{{ item.id }}/update"><img src="{% static 'images/edit-icon.png' %}" class="action-imgs"></a>
            <a href="schedule-item/{{ item.id }}/delete"><img src="{% static 'images/garbage-can-icon.png' %}" class="action-imgs"></a>
          </td>
        </tr>
      {% endfor %}
    </table>
    <p>Yearly Total: ${{ totals.yearly_total }}</p>
  {% endif %}

  {% if one_time %}
    <br>
    <h3>One Time</h3>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Start Date</th>
        <th>Next Due Date</th>
        <th>Actions</th>
      </tr>
      </thead>
      {% for item in one_time %}
        <tr>
          <td><a href="">{{ item.name }}</a></td>
          <td><a href="">{{ item.amount }}</a></td>
          <td><a href="">{{ item.first_due_date }}</a></td>
          <td><a href="">{{ item.get_next_payment }}</a></td>
          <td>
            <a href="schedule-item/{{ item.id }}/update"><img src="{% static 'images/edit-icon.png' %}" class="action-imgs"></a>
            <a href="schedule-item/{{ item.id }}/delete"><img src="{% static 'images/garbage-can-icon.png' %}" class="action-imgs"></a>
          </td>
        </tr>
      {% endfor %}
    </table>
    <p>Yearly Total: ${{ totals.one_time_total }}</p>
  {% endif %}
{% endblock %}