{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    {% block script %}{% endblock %}
  </head>
  <body>
    <header>
      <nav class="topnav">
        <div id="logo">
            <h1>TrackMyDollars</h1>
            <h2>Budget and Finance Tracker</h2>
        </div>
        <a class='sidebar-links' href="{% url 'index' %}">Home</a>
        <a class='sidebar-links' href="{% url 'about' %}">About</a>
        <a class='sidebar-links' href="{% url 'contact' %}">Contact</a>
{#        <a class='sidebar-links' href="{% url 'schedule' %}"></a>#}
      </nav>
    </header>
    <div class="modified-content-container">
      {% block main_content %}{% endblock %}
    </div>
  </body>
</html>