{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    {% block script %}{% endblock %}
  </head>
  <body>
    <div id="logo-dark">
      <a href="/"><img src="{% static 'images/tmd-center-fitted.png' %}" alt="Track My Dollars Logo"></a>
    </div>
    <div class="modified-content-container">
      <div id="login-form-container">
        {% block main_content %}


        {% endblock %}
      </div>
    </div>
  </body>
</html>