{% extends 'budgets/base.html' %}
{% load static %}
{% block title %}TrackMyDollars | Budget{% endblock %}
{% block script %}<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>{% endblock %}
{% block content %}

  <h2>Budget</h2>
  <div id="budget-container">
    {% if messages %}
      {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
      {% endfor %}
    {% endif %}
    <div class="button-container">
      <button onclick="window.location.href = 'previous';"><</button>
      <button>{{ month }}</button>
      <button>{{ year }}</button>
      <button onclick="window.location.href = 'next';">></button>
    </div>
    <br>
    <div class="budget-overview-container">
      <p><strong>Planned Budget</strong></p>
      <p><pre>Planned Income    ${{ total_planned_income }}</pre></p>
      <p><pre>Planned Expenses  ${{ total_planned_expenses }}</pre></p>
      <p><pre>Left to Plan      ${{ left_to_plan }}</pre></p>
    </div>
    <div class="budget-overview-container">
      <p><strong>Actual Budget</strong></p>
      <p><pre>Actual In   ${{ total_actual_income }}</pre></p>
      <p><pre>Actual Out  ${{ total_actual_expenses }}</pre></p>
      <p><pre>Difference  ${{ left_to_spend }}</pre></p>
    </div>
    <div class="budget-overview-container">
      <p><strong>Checking Account</strong></p>
      <p><pre><a href="update-budget-period/{{ bp_id }}">Starting Balance ${{ starting_bank_balance }}</a></pre></p>
      <p><pre>Balance Change   ${{ bank_balance_change }}</pre></p>
      <p><pre>Current Balance  ${{ current_bank_balance }}</pre></p>
    </div>
    <div class="budget-overview-container">
      <p><strong>Credit Cards</strong></p>
      <p><pre>New Debt     ${{ total_new_debt }}</pre></p>
      <p><pre>Paid Debt    ${{ total_paid_debt }}</pre></p>
      <p><pre>Amount Left  ${{ total_remaining_debt }}</pre></p>
    </div>
    <div class="budget-overview-container">
      <p><strong>Cash</strong></p>
      <p><pre><a href="update-budget-period/{{ bp_id }}">Starting Balance ${{ starting_cash_balance }}</a></pre></p>
      <p><pre>Balance Change   ${{ cash_balance_change }}</pre></p>
      <p><pre>Current Balance  ${{ current_cash_balance }}</pre></p>
    </div>


    <div class="right-side-container" id="budget-sidebar" style="margin-top: 0px;">
      <aside id="transaction-sidebar">
        <h3>Transactions</h3>
        <table id="transaction-table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Transaction</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            {% for transaction in all_transactions %}
              <tr>
                <td>{{ transaction.date | date:"M j"}}</td>
                {% if transaction.budget_item.name %}
                <td title="{{ transaction.name }}">
                  <a href="income-budget-item/{{ transaction.budget_item.id }}/view">
                    <span>{{ transaction.name }}</span>
                    <br>
                    <span class="budget-item-name">{{ transaction.budget_item.name }}</span>
                  </a>
                </td>
                {% elif transaction.expense_budget_item.name %}
                <td title="{{ transaction.name }}">
                  <a href="expense-category/{{ transaction.expense_budget_item.expense_category.id }}/expense-budget-item/{{ transaction.expense_budget_item.id }}/view">
                    <span>{{ transaction.name }}</span>
                    <br>
                    <span class="budget-item-name">{{ transaction.expense_budget_item.name }}</span>
                  </a>
                {% endif %}
                </td>
                <td>
                {% if transaction.is_positive %}
                  <span class="green">{{ transaction.get_signed_value }}</span>
                {% else %}
                  <span class="red">{{ transaction.get_signed_value }}</span>
                {% endif %}
                <br>
                {% if transaction.is_refund %}
                  <span class="green-fill" title="Refund">Refund</span>
                {% elif transaction.credit_purchase %}
                  <span class="red-fill" title="Credit Card Purchase">CC Purchase</span>
                {% elif transaction.credit_payoff %}
                  <span class="red-fill" title="Credit Card Payment">CC Payment</span>
                {% elif transaction.cash %}
                  {% if transaction.is_positive %}
                    <span class="green-fill">Cash</span>
                  {% else %}
                    <span class="red-fill">Cash</span>
                  {% endif %}
                {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </aside>
    </div>

    <h3>Income</h3>
    <div class="button-container">
      <button onclick="window.location.href = 'add-income-budget-item';">Add Income Budget Item</button>
    </div>
    {% if income_budget_items.count > 0 %}
    <table class="budget-table">
      <thead>
        <tr>
          <th>Income for {{ month }}</th>
          <th>Type</th>
          <th>Planned</th>
          <th>Received</th>
          <th>Transactions</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for x in income_budget_items %}
        <tr>
          <td><a href="income-budget-item/{{ x.id }}/view">{{ x.name }}</a></td>
          <td>
            <a href="income-budget-item/{{ x.id }}/view">{{ x.type }}</a>
          </td>
          <td><a href="income-budget-item/{{ x.id }}/view">{{ x.planned_amount }}</a></td>
          <td><a href="income-budget-item/{{ x.id }}/view">{{ x.get_total_received }}</a></td>
          <td><a href="income-budget-item/{{ x.id }}/view">{{ x.get_total_transactions }}</a></td>
          <td>
            <a href="income-budget-item/{{ x.id }}/add-income-transaction" title="Add Income Transaction"><img src="{% static 'images/add-icon.png' %}" class="action-imgs"></a>
            <a href="income-budget-item/{{ x.id }}/update" title="Edit Income Budget Item"><img src="{% static 'images/edit-icon.png' %}" class="action-imgs"></a>
            <a href="income-budget-item/{{ x.id }}/delete" title="Delete Income Budget Item"><img src="{% static 'images/garbage-can-icon.png' %}" class="action-imgs"></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}

    <br>
    <h3>Expenses</h3>
    <div class="button-container">
      <button onclick="window.location.href = 'add-expense-category';">Add Expense Category</button>
    </div>
    {% for x in expense_categories %}
    <table class="budget-table">
      <thead>
      <tr>
        {% if x.is_new_debt %}
        <th>{{ x.name }}</th>
        {% else %}
        <th><a href="expense-category/{{ x.id }}/update">{{ x.name }}</a></th>
        {% endif %}
        <th>Type</th>
        <th>Planned</th>
        <th>Spent</th>
        <th>Transactions</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
        {% for y in x.expense_budget_items.all %}
        <tr>
          <td><a href="expense-category/{{ x.id }}/expense-budget-item/{{ y.id }}/view">{{ y.name }}</a></td>
          <td><a href="expense-category/{{ x.id }}/expense-budget-item/{{ y.id }}/view">{{ y.type }}</a></td>
          <td><a href="expense-category/{{ x.id }}/expense-budget-item/{{ y.id }}/view">{{ y.planned_amount }}</a></td>
          <td><a href="expense-category/{{ x.id }}/expense-budget-item/{{ y.id }}/view">{{ y.get_total_spent }}</a></td>
          <td><a href="expense-category/{{ x.id }}/expense-budget-item/{{ y.id }}/view">{{ y.get_total_transactions }}</a></td>
          <td>
            {% if x.is_new_debt %}
            <a href="pay-debt"><img src="{% static 'images/add-icon.png' %}" class="action-imgs"></a>
            {% else %}
            {% if not x.is_new_debt %}
            <a href="expense-category/{{ x.id }}/expense-budget-item/{{ y.id }}/add-expense-transaction"><img src="{% static 'images/add-icon.png' %}" class="action-imgs"></a>
            {% endif %}
            <a href="expense-category/{{ x.id }}/expense-budget-item/{{ y.id }}/update"><img src="{% static 'images/edit-icon.png' %}" class="action-imgs"></a>
            <a href="expense-category/{{ x.id }}/expense-budget-item/{{ y.id }}/delete"><img src="{% static 'images/garbage-can-icon.png' %}" class="action-imgs"></a>
            {% endif %}
          </td>

        </tr>
        {% endfor %}
        {% if not x.is_new_debt %}
        <tr>
          <td>
            <a href="expense-category/{{ x.id }}/add-expense-budget-item" title="Add Expense Budget Item"><img src="{% static 'images/plus.png' %}" class="action-imgs"></a>
            <a href="expense-category/{{ x.id }}/delete" title="Delete Expense Category"><img src="{% static 'images/minus.png' %}" class="action-imgs"></a>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
    {% endfor %}
    <br>
    <br>
    <button onclick="window.location.href = 'delete-budget/{{ bp_id }}';">DELETE BUDGET</button>
  </div>
  <br>
  <br>
{% endblock %}