{% extends 'budgets/base.html' %}
{% load static %}
{% block title %}DollarTracker | View Expense Budget Item{% endblock %}
{% block script %}<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>{%  endblock %}
{% block content %}
  <script>
      $(document).ready(function(){
          $(".success").fadeOut(10000);
      });
  </script>
  <h2>View Expense Budget Item</h2>
  <div class="button-container">
    <button onclick="window.location.href = '../../../../';">Back to Budget</button>
  </div>
  <h3>{{ expense_budget_item.name }}</h3>
  {% if messages %}
    {% for message in messages %}
      <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
  {% endif %}
  <h4>Transactions</h4>
  <div class="button-container">
    <button onclick="window.location.href = 'add-expense-transaction';">Add Expense Transaction</button>
  </div>

  <table class="budget-table">
    <thead>
    <tr>
      <th>Transaction</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for item in expense_budget_item.expense_transactions.all %}
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.amount }}</td>
        <td>{{ item.date }}</td>
        <td>
          <a href="expense-transaction/{{ item.id }}/update"><img src="{% static 'images/edit-icon.png' %}" class="action-imgs"></a>
          <a href="expense-transaction/{{ item.id }}/delete"><img src="{% static 'images/garbage-can-icon.png' %}" class="action-imgs"></a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{#  {% for item in expense_budget_item.expense_transactions.all %}#}
{#    <p>{{ item.name }} - ${{ item.amount }}</p>#}
{#  {% endfor %}#}

{% endblock %}