{% extends 'standard/base.html' %}
{% block title %}TrackMyDollars | Calculate Expense Fund{% endblock %}
{% block page_heading %}Calculate Expense Fund{% endblock %}

{% block main_content %}
  <h3>What is an expense fund?</h3>
  <p>An expense fund is an allocation of money to cover future expenses. You can create a separate savings account and
    deposit money into it every month and withdraw from it when those expenses are due. The purpose of this is to make
    our budgets more consistent and easier to stick to. Things that we would put in our expense fund are expenses that
    are not normal monthly expenses such as birthdays, holidays, annual subscription renewals, quarterly bills, etc.
  </p>
  <br>
  <h3>Steps To Calculate Expense Fund</h3>
  <ol>
    <li>Pick initial amount that you can put into your fund</li>
    <li>Calculate the monthly contribution</li>
    <li>See if there will be conflicts and present suggestions</li>
  </ol>
  <br>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Calculate">
  </form>
  <br>
  {% if is_get %}
    <h3>Upcoming Money Items</h3>
    <table>
      <tr>
        <th style="width: 20%;">Payment Date</th>
        <th style="width: 30%;">Expense</th>
        <th style="width: 20%;">Amount</th>
        <th style="width: 20%;">Frequency</th>
      </tr>
      {% for item in items %}
        <tr>
          <td>{{ item.get_next_payment }}</td>
          <td>{{ item.name }} </td>
          <td>${{ item.amount }}</td>
          <td>{{ item.frequency }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <table>
      <tr>
        <th style="width: 80px;">Month</th>
        <th style="width: 100px;">Fund In</th>
        <th style="width: 100px;">Fund Out</th>
        <th style="width: 120px;">Fund Balance</th>
      </tr>
      {% for data in table_data %}
        <tr>
          <td>{{ data.month }}</td>
          <td>${{ data.fund_in }}</td>
          <td>${{ data.fund_out }}</td>
          <td>${{ data.fund_balance }}</td>
        </tr>
      {% endfor %}
    </table>
    <br>
    {{ suggestion }}
  {% endif %}
  {% for message in messages %}
    <div class="alert">
      {{ message }}
    </div>
  {% endfor %}
{% endblock %}